/* MadCap Table Style: */

/*<meta Version="9" />*/

mcTableStyle
{
	name: TabBlueHeadRedRowNoBorder;
	border-collapse: separate;
	border-left-style: solid;
	border-left-width: 1px;
	border-left-color: #dcdcdc;
	border-right-style: solid;
	border-right-width: 1px;
	border-right-color: #dcdcdc;
	border-top-style: solid;
	border-top-width: 1px;
	border-top-color: #dcdcdc;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: #dcdcdc;
	max-id: 4;
	background-image: none;
	border-spacing-y: 0;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
	overflow: hidden;
	cell-padding-left: 7px;
	cell-padding-right: 1px;
	cell-padding-top: 1px;
	cell-padding-bottom: 1px;
}

mcTableColumnStyle
{
	span: 1;
	separator-style: none;
	separator-width: 1px;
	separator-color: #ffffff;
	name: Column1;
	id: 0;
}

mcTableHeadStyle
{
	span: 1;
	separator-style: none;
	separator-width: 1px;
	separator-color: #000000;
	name: Header1;
	id: 2;
	background-color: #1d93d4;
	text-align: left;
}

mcTableBodyStyle
{
	span: 1;
	separator-style: none;
	separator-width: 1px;
	separator-color: #ffffff;
	name: Body1;
	id: 1;
}

mcTableBodyStyle
{
	span: 1;
	id: 4;
	name: Body2;
	background-color: #ffe4e1;
}

mcTableFootStyle
{
	span: 1;
	separator-style: none;
	separator-width: 1px;
	separator-color: #000000;
	name: Footer1;
	id: 3;
}


/* Cell Styles: */
 
.TableStyle-TabBlueHeadRedRowNoBorder
{
	border-collapse: separate;
	overflow: hidden;
	background-image: none;
	border-left-style: solid;
	border-left-color: #dcdcdc;
	border-left-width: 1px;
	border-right-style: solid;
	border-right-color: #dcdcdc;
	border-right-width: 1px;
	border-top-style: solid;
	border-top-color: #dcdcdc;
	border-top-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #dcdcdc;
	border-bottom-width: 1px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
	border-spacing: 0px 0px;
}

.TableStyle-TabBlueHeadRedRowNoBorder-Column-Column1
{
	
}

.TableStyle-TabBlueHeadRedRowNoBorder-Head-Header1
{
	
}

.TableStyle-TabBlueHeadRedRowNoBorder-HeadI-Column1-Header1
{
	padding-left: 7px;
	padding-right: 1px;
	padding-top: 1px;
	padding-bottom: 1px;
	text-align: left;
	background-color: #1d93d4;
}

.TableStyle-TabBlueHeadRedRowNoBorder-HeadI-Column1-Header1 p
{
	
}

.TableStyle-TabBlueHeadRedRowNoBorder-HeadE-Column1-Header1
{
	padding-left: 7px;
	padding-right: 1px;
	padding-top: 1px;
	padding-bottom: 1px;
	border-right-width: 1px;
	border-right-color: #ffffff;
	border-right-style: none;
	text-align: left;
	background-color: #1d93d4;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: none;
}

.TableStyle-TabBlueHeadRedRowNoBorder-HeadE-Column1-Header1 p
{
	
}

.TableStyle-TabBlueHeadRedRowNoBorder-HeadF-Column1-Header1
{
	padding-left: 7px;
	padding-right: 1px;
	padding-top: 1px;
	padding-bottom: 1px;
	text-align: left;
	background-color: #1d93d4;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: none;
}

.TableStyle-TabBlueHeadRedRowNoBorder-HeadF-Column1-Header1 p
{
	
}

.TableStyle-TabBlueHeadRedRowNoBorder-HeadH-Column1-Header1
{
	padding-left: 7px;
	padding-right: 1px;
	padding-top: 1px;
	padding-bottom: 1px;
	border-right-width: 1px;
	border-right-color: #ffffff;
	border-right-style: none;
	text-align: left;
	background-color: #1d93d4;
}

.TableStyle-TabBlueHeadRedRowNoBorder-HeadH-Column1-Header1 p
{
	
}

.TableStyle-TabBlueHeadRedRowNoBorder-HeadD-Column1-Header1
{
	padding-left: 7px;
	padding-right: 1px;
	padding-top: 1px;
	padding-bottom: 1px;
	text-align: left;
	background-color: #1d93d4;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: none;
}

.TableStyle-TabBlueHeadRedRowNoBorder-HeadD-Column1-Header1 p
{
	
}

.TableStyle-TabBlueHeadRedRowNoBorder-HeadC-Column1-Header1
{
	padding-left: 7px;
	padding-right: 1px;
	padding-top: 1px;
	padding-bottom: 1px;
	text-align: left;
	background-color: #1d93d4;
}

.TableStyle-TabBlueHeadRedRowNoBorder-HeadC-Column1-Header1 p
{
	
}

.TableStyle-TabBlueHeadRedRowNoBorder-HeadB-Column1-Header1
{
	padding-left: 7px;
	padding-right: 1px;
	padding-top: 1px;
	padding-bottom: 1px;
	border-right-width: 1px;
	border-right-color: #ffffff;
	border-right-style: none;
	text-align: left;
	background-color: #1d93d4;
}

.TableStyle-TabBlueHeadRedRowNoBorder-HeadB-Column1-Header1 p
{
	
}

.TableStyle-TabBlueHeadRedRowNoBorder-HeadA-Column1-Header1
{
	padding-left: 7px;
	padding-right: 1px;
	padding-top: 1px;
	padding-bottom: 1px;
	text-align: left;
	background-color: #1d93d4;
}

.TableStyle-TabBlueHeadRedRowNoBorder-HeadA-Column1-Header1 p
{
	
}

.TableStyle-TabBlueHeadRedRowNoBorder-HeadG-Column1-Header1
{
	padding-left: 7px;
	padding-right: 1px;
	padding-top: 1px;
	padding-bottom: 1px;
	text-align: left;
	background-color: #1d93d4;
}

.TableStyle-TabBlueHeadRedRowNoBorder-HeadG-Column1-Header1 p
{
	
}

.TableStyle-TabBlueHeadRedRowNoBorder-Foot-Footer1
{
	
}

.TableStyle-TabBlueHeadRedRowNoBorder-FootI-Column1-Footer1
{
	padding-left: 7px;
	padding-right: 1px;
	padding-top: 1px;
	padding-bottom: 1px;
}

.TableStyle-TabBlueHeadRedRowNoBorder-FootI-Column1-Footer1 p
{
	
}

.TableStyle-TabBlueHeadRedRowNoBorder-FootE-Column1-Footer1
{
	padding-left: 7px;
	padding-right: 1px;
	padding-top: 1px;
	padding-bottom: 1px;
	border-right-width: 1px;
	border-right-color: #ffffff;
	border-right-style: none;
	border-top-width: 1px;
	border-top-color: #000000;
	border-top-style: none;
}

.TableStyle-TabBlueHeadRedRowNoBorder-FootE-Column1-Footer1 p
{
	
}

.TableStyle-TabBlueHeadRedRowNoBorder-FootF-Column1-Footer1
{
	padding-left: 7px;
	padding-right: 1px;
	padding-top: 1px;
	padding-bottom: 1px;
	border-top-width: 1px;
	border-top-color: #000000;
	border-top-style: none;
}

.TableStyle-TabBlueHeadRedRowNoBorder-FootF-Column1-Footer1 p
{
	
}

.TableStyle-TabBlueHeadRedRowNoBorder-FootH-Column1-Footer1
{
	padding-left: 7px;
	padding-right: 1px;
	padding-top: 1px;
	padding-bottom: 1px;
	border-right-width: 1px;
	border-right-color: #ffffff;
	border-right-style: none;
}

.TableStyle-TabBlueHeadRedRowNoBorder-FootH-Column1-Footer1 p
{
	
}

.TableStyle-TabBlueHeadRedRowNoBorder-FootD-Column1-Footer1
{
	padding-left: 7px;
	padding-right: 1px;
	padding-top: 1px;
	padding-bottom: 1px;
	border-top-width: 1px;
	border-top-color: #000000;
	border-top-style: none;
}

.TableStyle-TabBlueHeadRedRowNoBorder-FootD-Column1-Footer1 p
{
	
}

.TableStyle-TabBlueHeadRedRowNoBorder-FootC-Column1-Footer1
{
	padding-left: 7px;
	padding-right: 1px;
	padding-top: 1px;
	padding-bottom: 1px;
}

.TableStyle-TabBlueHeadRedRowNoBorder-FootC-Column1-Footer1 p
{
	
}

.TableStyle-TabBlueHeadRedRowNoBorder-FootB-Column1-Footer1
{
	padding-left: 7px;
	padding-right: 1px;
	padding-top: 1px;
	padding-bottom: 1px;
	border-right-width: 1px;
	border-right-color: #ffffff;
	border-right-style: none;
}

.TableStyle-TabBlueHeadRedRowNoBorder-FootB-Column1-Footer1 p
{
	
}

.TableStyle-TabBlueHeadRedRowNoBorder-FootA-Column1-Footer1
{
	padding-left: 7px;
	padding-right: 1px;
	padding-top: 1px;
	padding-bottom: 1px;
}

.TableStyle-TabBlueHeadRedRowNoBorder-FootA-Column1-Footer1 p
{
	
}

.TableStyle-TabBlueHeadRedRowNoBorder-FootG-Column1-Footer1
{
	padding-left: 7px;
	padding-right: 1px;
	padding-top: 1px;
	padding-bottom: 1px;
}

.TableStyle-TabBlueHeadRedRowNoBorder-FootG-Column1-Footer1 p
{
	
}

.TableStyle-TabBlueHeadRedRowNoBorder-Body-Body1
{
	
}

.TableStyle-TabBlueHeadRedRowNoBorder-BodyI-Column1-Body1
{
	padding-left: 7px;
	padding-right: 1px;
	padding-top: 1px;
	padding-bottom: 1px;
}

.TableStyle-TabBlueHeadRedRowNoBorder-BodyI-Column1-Body1 p
{
	
}

.TableStyle-TabBlueHeadRedRowNoBorder-BodyE-Column1-Body1
{
	padding-left: 7px;
	padding-right: 1px;
	padding-top: 1px;
	padding-bottom: 1px;
	border-bottom-width: 1px;
	border-bottom-color: #ffffff;
	border-bottom-style: none;
	border-right-width: 1px;
	border-right-color: #ffffff;
	border-right-style: none;
}

.TableStyle-TabBlueHeadRedRowNoBorder-BodyE-Column1-Body1 p
{
	
}

.TableStyle-TabBlueHeadRedRowNoBorder-BodyF-Column1-Body1
{
	padding-left: 7px;
	padding-right: 1px;
	padding-top: 1px;
	padding-bottom: 1px;
	border-bottom-width: 1px;
	border-bottom-color: #ffffff;
	border-bottom-style: none;
}

.TableStyle-TabBlueHeadRedRowNoBorder-BodyF-Column1-Body1 p
{
	
}

.TableStyle-TabBlueHeadRedRowNoBorder-BodyH-Column1-Body1
{
	padding-left: 7px;
	padding-right: 1px;
	padding-top: 1px;
	padding-bottom: 1px;
	border-right-width: 1px;
	border-right-color: #ffffff;
	border-right-style: none;
}

.TableStyle-TabBlueHeadRedRowNoBorder-BodyH-Column1-Body1 p
{
	
}

.TableStyle-TabBlueHeadRedRowNoBorder-BodyD-Column1-Body1
{
	padding-left: 7px;
	padding-right: 1px;
	padding-top: 1px;
	padding-bottom: 1px;
	border-bottom-width: 1px;
	border-bottom-color: #ffffff;
	border-bottom-style: none;
}

.TableStyle-TabBlueHeadRedRowNoBorder-BodyD-Column1-Body1 p
{
	
}

.TableStyle-TabBlueHeadRedRowNoBorder-BodyC-Column1-Body1
{
	padding-left: 7px;
	padding-right: 1px;
	padding-top: 1px;
	padding-bottom: 1px;
}

.TableStyle-TabBlueHeadRedRowNoBorder-BodyC-Column1-Body1 p
{
	
}

.TableStyle-TabBlueHeadRedRowNoBorder-BodyB-Column1-Body1
{
	padding-left: 7px;
	padding-right: 1px;
	padding-top: 1px;
	padding-bottom: 1px;
	border-right-width: 1px;
	border-right-color: #ffffff;
	border-right-style: none;
}

.TableStyle-TabBlueHeadRedRowNoBorder-BodyB-Column1-Body1 p
{
	
}

.TableStyle-TabBlueHeadRedRowNoBorder-BodyA-Column1-Body1
{
	padding-left: 7px;
	padding-right: 1px;
	padding-top: 1px;
	padding-bottom: 1px;
}

.TableStyle-TabBlueHeadRedRowNoBorder-BodyA-Column1-Body1 p
{
	
}

.TableStyle-TabBlueHeadRedRowNoBorder-BodyG-Column1-Body1
{
	padding-left: 7px;
	padding-right: 1px;
	padding-top: 1px;
	padding-bottom: 1px;
}

.TableStyle-TabBlueHeadRedRowNoBorder-BodyG-Column1-Body1 p
{
	
}

.TableStyle-TabBlueHeadRedRowNoBorder-Body-Body2
{
	
}

.TableStyle-TabBlueHeadRedRowNoBorder-BodyI-Column1-Body2
{
	padding-left: 7px;
	padding-right: 1px;
	padding-top: 1px;
	padding-bottom: 1px;
	background-color: #ffe4e1;
}

.TableStyle-TabBlueHeadRedRowNoBorder-BodyI-Column1-Body2 p
{
	
}

.TableStyle-TabBlueHeadRedRowNoBorder-BodyE-Column1-Body2
{
	padding-left: 7px;
	padding-right: 1px;
	padding-top: 1px;
	padding-bottom: 1px;
	background-color: #ffe4e1;
	border-right-width: 1px;
	border-right-color: #ffffff;
	border-right-style: none;
}

.TableStyle-TabBlueHeadRedRowNoBorder-BodyE-Column1-Body2 p
{
	
}

.TableStyle-TabBlueHeadRedRowNoBorder-BodyF-Column1-Body2
{
	padding-left: 7px;
	padding-right: 1px;
	padding-top: 1px;
	padding-bottom: 1px;
	background-color: #ffe4e1;
}

.TableStyle-TabBlueHeadRedRowNoBorder-BodyF-Column1-Body2 p
{
	
}

.TableStyle-TabBlueHeadRedRowNoBorder-BodyH-Column1-Body2
{
	padding-left: 7px;
	padding-right: 1px;
	padding-top: 1px;
	padding-bottom: 1px;
	background-color: #ffe4e1;
	border-right-width: 1px;
	border-right-color: #ffffff;
	border-right-style: none;
}

.TableStyle-TabBlueHeadRedRowNoBorder-BodyH-Column1-Body2 p
{
	
}

.TableStyle-TabBlueHeadRedRowNoBorder-BodyD-Column1-Body2
{
	padding-left: 7px;
	padding-right: 1px;
	padding-top: 1px;
	padding-bottom: 1px;
	background-color: #ffe4e1;
}

.TableStyle-TabBlueHeadRedRowNoBorder-BodyD-Column1-Body2 p
{
	
}

.TableStyle-TabBlueHeadRedRowNoBorder-BodyC-Column1-Body2
{
	padding-left: 7px;
	padding-right: 1px;
	padding-top: 1px;
	padding-bottom: 1px;
	background-color: #ffe4e1;
}

.TableStyle-TabBlueHeadRedRowNoBorder-BodyC-Column1-Body2 p
{
	
}

.TableStyle-TabBlueHeadRedRowNoBorder-BodyB-Column1-Body2
{
	padding-left: 7px;
	padding-right: 1px;
	padding-top: 1px;
	padding-bottom: 1px;
	background-color: #ffe4e1;
	border-right-width: 1px;
	border-right-color: #ffffff;
	border-right-style: none;
}

.TableStyle-TabBlueHeadRedRowNoBorder-BodyB-Column1-Body2 p
{
	
}

.TableStyle-TabBlueHeadRedRowNoBorder-BodyA-Column1-Body2
{
	padding-left: 7px;
	padding-right: 1px;
	padding-top: 1px;
	padding-bottom: 1px;
	background-color: #ffe4e1;
}

.TableStyle-TabBlueHeadRedRowNoBorder-BodyA-Column1-Body2 p
{
	
}

.TableStyle-TabBlueHeadRedRowNoBorder-BodyG-Column1-Body2
{
	padding-left: 7px;
	padding-right: 1px;
	padding-top: 1px;
	padding-bottom: 1px;
	background-color: #ffe4e1;
}

.TableStyle-TabBlueHeadRedRowNoBorder-BodyG-Column1-Body2 p
{
	
}


